{% extends "base.html" %} {% block footer %}

<script>
    validateUserPlayForm();
    menageGame();
</script>
{% endblock %} {% block body %}
<div class="container">

    <div class="modal hide fade in" tabindex="-1" role="dialog" id="showWinner" data-bs-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Winner result</h3>

                    <button type="button" class="close closeButton" data-bs-dismiss="modal">x</button>
                </div>

                <div class="modal-body">
                    <div class="input-group-text">
                        <label for="user" class="form-label">Your result</label>
                        <input disabled id="userResult" class="form-control">
                    </div>

                    <div class="input-group-text">
                        <label for="computer" class="form-label">Computer result</label>
                        <input disabled id="computerResult" class="form-control">
                    </div>

                    <div class="input-group-text">
                        <label for="winner" class="form-label">Winner: </label>
                        <input disabled id="winner" class="form-control">
                    </div>

                </div>

                <div class="modal-footer mt-2 mb-2">
                    <button type="button" id="" class="btn" data-bs-dismiss="modal">Ok</button>
                </div>

            </div>
        </div>

    </div>


    <div class="row justify-content-center mb-4">
        <div class="text-center mt-5">
            <form id="play_form">
                <label for="result_user" class="me-2">Your result of roll the dice</label>
                <input id="result_user" name="user_result" type="number" placeholder="user result" required>

                <button type="button" id="showResult" class="btn play">Play</button>

                <div class="text-start error_user_input text-danger">

                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}